<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChatApp</title>
        <link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"
        />
        <script src="https://unpkg.com/htmx.org@1.9.10" 
                integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" 
                crossorigin="anonymous"></script>
    </head>
    <body id="container" class="container">
        <div id="conversation-space"
            hx-get="/messages"
            hx-target="#conversation-space"
            hx-trigger="load once"
            hx-indicator="#conversation-spinner"
            hx-swap="innerHTML">
        </div>
        <article id="conversation-spinner" class="htmx-indicator" aria-busy="true"></article>
        <form id="user-input" role="group" hx-post="/messages">
            <input id="message-input" class="resize-none" name="message" placeholder="Write an answer"></input>
            <input type="submit" id="post-button"
                class="send-button"
                value="Send"
                hx-trigger="click">
        </input>
        </form>
    </body>
</html>