<dialog id="modal" open>
	<article>
		<header>
			<h1 id="login-form-title">Please Log In</h1>
		</header>
		<form id="login-form"
		hx-post="/login"
        hx-target="#modal"
		hx-swap="outerHTML"
        hx-target-400="error-message"
		>
			<fieldset id="login-form-email-container" class="form-container">
				<label id="login-form-email-label">Email:</label>
				<input id="login-form-email-input" 
				name="email" 
				type="email" 
				placeholder="youraddress@chatapp.com" 
				autocomplete="email"
				autofocus 
				required>
			</fieldset>
			<fieldset id="login-form-password-container" class="form-container">
				<label id="login-form-password-label">Password:</label>
				<input id="login-form-password-input" 
				type="password"
				name="password"
				required>
			</fieldset>
			<footer id="login-buttons" role="group">
				<button id="reset-login-form" type="reset">Reset</button>
				<button id="submit-login-form" type="submit">Log In</button>
			</footer>
		</from>
	</article>
</dialog>