.container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

html, body {
    height: 100%;
}

#conversation-space {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-snap-type: y proximity;
}
