.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#conversation-space {
    display: flex;   
}

#user-input {
    display: flex;   
}

button {
    background-color: blue;
}

textarea {
    resize: none;
}