#send-message-form {
    display: flex;
    flex-direction: column;
}

#message-input-with-validation {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.error-message {
    color: var(--pico-form-element-invalid-active-border-color);
}

#send-button {
    background-image: url('../assets/send.svg');
    background-position: center;
    background-color: var(--pico-primary);
}

