<!DOCTYPE html>
<body>
    <div>
        <p>Your Conversation with {{ .correspondants.Name }}.</p>
        <p>{{ .messages }}</p>
        <!-- p id="conversation-space">
            <td colspan="2">
              <button class='btn' hx-get="http://127.0.0.1:8000/messages/"
                                  hx-target="#conversation-space"
                                  hx-swap="outerHTML">
                   Reload Conversation>
              </button>
            </td>
        </p -->
    </div>
</body>